[submodule "pack/plugins/start/linediff"]
	path = pack/plugins/start/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "pack/plugins/start/diffchanges"]
	path = pack/plugins/start/diffchanges
	url = https://github.com/jmcantrell/vim-diffchanges.git
    ignore = all
[submodule "pack/plugins/start/syntastic"]
	path = pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "pack/plugins/start/lightline"]
	path = pack/plugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/SectionHeader"]
	path = pack/plugins/start/SectionHeader
	url = https://github.com/sifters/SectionHeader.git
[submodule "pack/plugins/start/vim-gitbranch"]
	path = pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
    ignore = all
[submodule "pack/plugins/start/diffthisbuffer"]
	path = pack/plugins/start/diffthisbuffer
	url = https://github.com/sifters/diffthisbuffer.git
